figure {
  position: relative;

  background-color: $white;

  margin:0;

  overflow:hidden;
}

figure > img{
  opacity:1;

  //Transition sur le mouse leave
  transition:opacity 0.2s 0.2s;
}

figure:hover > img{
  opacity:0.3;

  //Transition sur le mouse enter
  transition:opacity 0.2s 0.2s;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transform:translateX(100%);

  //Transition sur le mouse leave

  transition: transform 0.2s 0s;
}


figure:hover figcaption{
  transform:translateX(0);

  //Transition sur le mouse enter
  transition: transform 0.2s 0.2s;
}

@media screen and (min-width:$vw-medium){
  main{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

  }
  figure{
    width:48%;

  }

}@media screen and (min-width:$vw-huge){

  figure.premiere-image{
    width:100%;

    order:-1;
  }

  figure{
    width:32%;

  }
}